.thumbnail {
  position: relative;
  padding: 0;
}

@media (min-width: 1200px){

  #thumbnailContainer {
    position: relative;

    .bottomThumb {
      position: absolute;
      right:0;
      bottom: 0;
    }
  }


}

.thumbnail .caption {
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 6px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0); /* IE6-9 */

  .captionSubHeader {
    background: #0c0f1c;
    color: #01fac2;
    padding-left: 6px;
    padding-right: 6px;

  }

  h3 {
    padding-left: 6px;
    padding-right: 6px;
    margin: 10px 0 0 0;

  }

}

.col-md-4 .thumbnail h3 {
  //font-size: 18px;
}

&.ngl-pro-edit .img-thumbnail {
  margin-bottom: 20px;
}

&.tournament #ngl .ngl-main-nav {
  background: #fff;
}

.uppercase {
  text-transform: uppercase;
}


.ngl-main-nav {
    text-transform: uppercase;
}
//IE fix
#home {
  #ngl-pro-carousel {
    .carousel-item .ngl-slider-overlay {
      min-height: 615px;
    }
  }
}


// Pimcore Specific

&.ngl-pro-edit #content a {
  color:$ngl-color-theme;
  font-weight: bold;
}
