
//Borusia
$ngl-color-dark-green : #7ab92c;
$ngl-color-light-green: #7ab92c;

// ngl variables and mixins

// colors
$ngl-color-theme:                   #fff !default

$ngl-color-white:                   #fff !default
$ngl-color-dark-white:              #f6f6f6  !default
$ngl-color-gold:                    #000 !default
$ngl-color-red:                     #c00 !default
$ngl-color-dark-red:                #900 !default
$ngl-color-green:                   #22B21C !default
$ngl-color-blue:                    #002469 !default
$ngl-color-dark-blue:               #253043 !default
$ngl-color-darker-blue:             #fff !default
$ngl-color-light-grey:              #818792 !default
$ngl-color-grey:                    #585c61 !default
$ngl-color-dark-grey:               #454e5e !default
$ngl-color-black:                   #000 !default

// component specific
$ngl-content-width:                 1440px;
$ngl-home-width:                    1440px;
$ngl-bg:                            $ngl-color-dark-grey;
$ngl-content-bg:                    $ngl-color-darker-blue;
$ngl-edit-bg:                       $ngl-color-white;
$ngl-edit-secondary-bg:             $ngl-color-dark-white;
$ngl-home-bg:                       $ngl-color-dark-blue;

$ngl-border-color-primary:          $ngl-color-light-grey;
$ngl-border-color-secondary:        $ngl-color-theme;

// navigation
$ngl-nav-bg:                          $ngl-color-dark-blue;
$ngl-nav-color:                       $ngl-color-light-green;
$ngl-nav-hover-color:                 $ngl-color-white;
$ngl-nav-active-color:                $ngl-color-white;

$ngl-subnav-color:                    $ngl-color-white;
$ngl-subnav-hover-color:              $ngl-color-theme;
$ngl-subnav-active-color:             $ngl-color-theme;

// fonts
$ngl-font-primary-color:              $ngl-color-black;
$ngl-font-secondary-color:            $ngl-color-theme;
$ngl-font-gold-color:                 $ngl-color-gold;
$ngl-font-black-color:                $ngl-color-black;
$ngl-font-grey-color:                 $ngl-color-light-green;
$ngl-font-blue-color:                 $ngl-color-dark-blue;
$ngl-font-positive-color:             $ngl-color-green;
$ngl-font-negative-color:             $ngl-color-red;




$ngl-font-light:                      "Trebuchet MS", "Source Sans Pro", Arial, Helvetica, sans-serif !default;
$ngl-font-regular:                    "Trebuchet MS", "Source Sans Pro", Arial, Helvetica, sans-serif !default;
$ngl-font-medium:                     "Trebuchet MS", "Source Sans Pro", Arial, Helvetica, sans-serif !default;
$ngl-font-bold:                       "Trebuchet MS", "Source Sans Pro", Arial, Helvetica, sans-serif !default;
$ngl-headline-font:                   "Trebuchet MS", "Source Sans Pro", Arial, Helvetica, sans-serif !default;
$ngl-font-size-xl:                    20px;
$ngl-font-size-lg:                    18px;
$ngl-font-size-md:                    16px;
$ngl-font-size-sm:                    14px;

// ngl mixins
@mixin center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}




